body {
    background-color: #010427;
    background-image: url('tausta_sovellukseen2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#logo {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.text-below-logo {
    margin-top: 20px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px auto;
    text-align: center;
}