@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;

}

body {
  background: #ffffff;
  color: #fdf8f8;


}









button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;
  /* Fixed position relative to the viewport */
  bottom: 20px;
  /* Position 20px from the bottom */
  left: 20px;
  /* Position 20px from the right */
  z-index: 1000;
  /* Ensure it's above other elements */
}

button:hover {
  background-color: #45a049;
}

.top-bar {
  width: 100%;
  background-color: #010427;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {

  .wrapper,
  form {
    width: 90%;
  }
}







/* Additional Responsive Design for Smaller Screens */
@media (max-width: 600px) {
  #resetButton {
    bottom: 10px;
    /* Closer to edge on smaller screens */
    right: 10px;
  }
}





.answersContainer {
  width: 80%;
  /* Adjust the width as needed */
  max-width: 800px;
  /* Maximum width */
  margin: 20px auto;
  /* Centers the container */
  padding: 15px;
  /* Padding inside the container */
  background-color: #f9f9f9;
  /* Light background color */
  border: 1px solid #ccc;
  /* Border for the container */
  border-radius: 4px;
  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Adds a subtle shadow */
  overflow-y: auto;
  /* Adds scroll for overflow */
  height: 900px;
  display: flex;
  flex-direction: column;





}

.bot-name {
  font-size: 14px;
  /* Choose an appropriate font size */
  font-weight: bold;
  color: #000000;
  /* Text color */


}



#aiResponse {
  padding: 10px;
  margin: 10px 0;
  background-color: #e8e8e8;
  /* Light background for visibility */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Slightly larger font for readability */
  color: #333;
  /* Darker text for contrast */
  word-wrap: break-word;
  /* Ensure long words do not overflow */
  max-width: 100%;
  /* Full width of its parent container */
  height: auto;
  /* Height to fit content */



}


.profile {
  display: flex;
  /* Aligns children (image and name) in a row */
  align-items: center;
  /* Centers them vertically */
  margin-top: 30px;
  /* Adjust as needed */
}








.profile img {
  width: 66px;
  /* Adjust size as needed */

  height: 66px;
  /* Adjust size as needed */

  object-fit: contain;
  /* Keeps the aspect ratio of the image */

  border-radius: 30%;

  /* Makes the image circular */
  margin-right: 10px;
  /* Space between the image and the name */
}