body {
    margin: 0;
    font-family: "Arial", sans-serif;
    overflow: hidden; /* Prevent scrolling */
  }
  
  body.loaded {
    overflow: auto;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* Background color of the preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure the preloader is on top of other elements */
  }
  
  .preloader-logo {
    max-height: 100%; /* Set max-height instead of height */
    width: auto;
    animation: spin 1s linear infinite; /* Add a spinning animation */
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  /* Hide the preloader when content is loaded */
  body.loaded #preloader {
    display: none;
  }
  
  